p{
    color: red; 
    font-weight: bold; 
 }
 
 *{
     background-color: papayawhip;
 }
 
 h1{
     border: 2px solid black;
     margin: 10px;
     margin: auto;
     margin-top: 50px;
     width: 400px;
     padding-top: 20px;
     padding-bottom: 20px;
     text-decoration: underline;
     color: blue;
     background-color: lightblue;
     border-radius: 15px;
     text-align: center;
     outline: 5px solid rgb(35, 3, 31);
     outline-offset: -5px;
     
 }
 
 marquee{
     color: blue;
 }
 
img{
    padding-left: 550px;

}